/* Sidebar.module.css */
.main {
  width: 100%;
  height: 100%;
  display: flex;
}
.sidebar-container {
  width: 250px;
  padding: 20px;

  height: 100vh;
  border-right: 1px solid #ccc;
}
.sidebar-header {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.app-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.app-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

.contact-item {
  cursor: pointer;
  display: flex;
  left: 0;
  align-items: center;
  padding: 10px 5px;
  margin-bottom: 25px;
  border-bottom: 1px solid #888;
}

.profile-image {
  width: 40px;
  object-fit: cover;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.contact-details {
  flex-grow: 1;
}

.message-time {
  font-size: 12px;
  color: #888;
}
.user-greeting {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}
.user-info {
  display: flex;
  align-items: center;
}

.user-profile-image {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-details {
  display: flex;
  margin-bottom: 15px;
  flex-direction: column;
}
.chatarea {
  width: 80%;
}
.nosel {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nosel h2 {
  font-size: 2.5rem;
}
@media (max-width: 450px) {
  .sidebar-container {
    width: 60px;
    z-index: 88;
    background-color: #fff;
    position: fixed;
  }
  .user-details {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .contact-details h4 {
    font-size: 12px;
    display: none;
  }
  .app-name {
    font-size: 10px;
  }
  .nosel {
    padding-left: 20px;
  }
  .chatarea {
    margin-left: 100px;
  }
  .app-name {
    display: none;
  }
}
